# See http://help.github.com/ignore-files/ for more about ignoring files.

# sqlite3 db
*.db

# dependencies
/node_modules
/bower_components
/vendor
/test-results

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.glide/

#System Files
.DS_Store
Thumbs.db
